In [1]:
from PrettyPandas import PrettyPandas

In [2]:
import pandas as pd
import numpy as np

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)

In [3]:
df

    A         B         C         D         E
0   1  1.329212 -0.770033 -0.316280 -0.990810
1   2 -1.070816 -1.438713  0.564417  0.295722
2   3 -1.626404  0.219565  0.678805  1.889273
3   4  0.961538  0.104011 -0.481165  0.850229
4   5  1.453425  1.057737  0.165562  0.515018
5   6 -1.336936  0.562861  1.392855 -0.063328
6   7  0.121668  1.207603 -0.002040  1.627796
7   8  0.354493  1.037528 -0.385684  0.519818
8   9  1.686583 -1.325963  1.428984 -2.089354
9  10 -0.129820  0.631523 -0.586538  0.290720

## Summaries

Supported summaries:

* total
* average
* min
* max
* median

In [4]:
PrettyPandas(df)

In [5]:
PrettyPandas(df).total()

In [6]:
PrettyPandas(df).average()

In [7]:
PrettyPandas(df).average(axis=1)

In [8]:
PrettyPandas(df).average(axis=None)

In [9]:
PrettyPandas(df).min().max()

In [10]:
PrettyPandas(df).summary(np.mean, "Average")

### Multiple Summaries

In [11]:
PrettyPandas(df).multi_summary([np.mean, np.sum],
                               ['Average', 'Total'],
                               axis=0)

## Number Formatting

In [12]:
PrettyPandas(df).as_percent()

In [13]:
PrettyPandas(df).as_money()

In [14]:
PrettyPandas(df).as_percent(precision=3)

In [15]:
PrettyPandas(df).as_money(currency=u"$", precision=3)

In [16]:
PrettyPandas(df).as_unit('cm', location='suffix')

In [17]:
PrettyPandas(df).as_percent(subset=['B'])

In [18]:
PrettyPandas(df).as_percent(subset=['B']).total()